<div class="row">
  <div class="col s12 m8">
    <div class="panel">
      <div class="panel-heading">
        <h4>Panel Title <span class="badge">Total 3</span></h4>
      </div>
      <div class="panel-body">
        <table class="responsive-table">
          <thead>
            <tr>
                <th>Name</th>
                <th>Item Name</th>
                <th>Item Price</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>Alvin</td>
              <td>Eclair</td>
              <td>$0.87</td>
            </tr>
            <tr>
              <td>Alan</td>
              <td>Jellybean</td>
              <td>$3.76</td>
            </tr>
            <tr>
              <td>Jonathan</td>
              <td>Lollipop</td>
              <td>$7.00</td>
            </tr>
          </tbody>
        </table>
              
      </div>
    </div>
  </div>
  <div class="col s12 m4">
    <div class="panel">
      <div class="panel-heading">
        <h4>Panel Title</h4>
        <div class="action-box">
            <%= link_to icon('edit'), '#', class: "btn-floating" %>
        </div>
      </div>

      <div class="panel-body">
        <div class="row">
          <div class="col s6">
            <dl class="info-caption">
              <dt>Alvin</dt>
              <dd>Firstname</dd>
            </dl>
          </div>
          <div class="col s6">
            <dl class="info-caption">
              <dt>Eclair</dt>
              <dd>Lastname</dd>
            </dl>
          </div>
        </div>
        <div class="row">
          <dl class="info-caption">
            <dt class="orange-indicator">Handsome</dt>
            <dd>Description</dd>
          </dl>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col s12">
    <div class="panel">
      <%= area_chart [
        {name: "Series A", data: {'2019-05-13': 2, '2019-05-14': 5, '2019-05-15': 4, '2019-05-16': 5, '2019-05-17': 7, '2019-05-18': 7.5, '2019-05-19': 7}},
        {name: "Series B", data: {'2019-05-13': 4, '2019-05-14': 7, '2019-05-15': 8, '2019-05-16': 5, '2019-05-17': 3, '2019-05-18': 2, '2019-05-19': 2}},
        {name: "Series C", data: {'2019-05-13': 9, '2019-05-14': 8, '2019-05-15': 4, '2019-05-16': 6, '2019-05-17': 7, '2019-05-18': 6, '2019-05-19': 5}}
      ] %>
    </div>
  </div>
  
</div>

